<!-- Optional additional links to insert for icons links -->



<a id="subscribe-link"
	class="icon" title="Subscribe" aria-label="Subscribe"
	href="https://github.com/haam-community">
	{% include svg/github.svg %}
</a>

<a id="subscribe-link"
	class="icon" title="Subscribe" aria-label="Subscribe"
	href="https://haam-community.slack.com">
	{% include svg/slack-dark.svg %}
</a>

{% comment %}
<a id="send-email"
    class="icon"
    title="Send Email" aria-label="Send Email"
    href="https://www.listserv.dfn.de/sympa/info/spaam-community">
      {% include svg/email.svg %}
</a>

<a id="subscribe-link"
	class="icon" title="Twitter" aria-label="Twitter"
	href="https://twitter.com/haam_community" >
	{% include svg/twitter.svg %}
</a>
{% endcomment %}