<!-- Optional additional links to insert for icons links -->

<a
  id="send-email"
  class="icon"
  title="Send Email"
  aria-label="Send Email"
  href="mailto:haam.community2023@gmail.com"
>
  {% include svg/email.svg %}
</a>

<a id="subscribe-link"
	class="icon" title="Subscribe" aria-label="Subscribe"
	href="https://matrix.to/#/#haam-community:archaeo.social">
	{% include svg/matrix.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Mastodon"
  aria-label="Mastodon"
  href="https://genomic.social/@haam_community"
>
  {% include svg/mastodon.svg %}
</a>

<!--
<a
  id="subscribe-link"
  class="icon"
  title="Instagram"
  aria-label="Instagram"
  href=""
>
  {% include svg/insta-icon.svg %}
</a>
-->

<a
  id="subscribe-link"
  class="icon"
  title="Bluesky"
  aria-label="Bluesky"
  href="https://bsky.app/profile/haam-community.bsky.social"
>
  {% include svg/bluesky.svg %}
</a>
