<div id="sidebar" style="height:100%">

  <header>
  <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
  {% unless page.url == "/" %}
  <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
  {% endunless %}
  <a href="/">
  <img src="/assets/media/Logo_With_HAAM_White.svg" alt="HAAM Community" class="center" role="log" width="100%"/>
  </a> 
  </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
  <p class="lead">{{ site.description }}</p>
  </header>
  
  {% comment %}
  <!-- 
  Dev Note: Adding sidebar links here manually is deprecated.
  To add a new sidebar link, simply set `sidebar_link: true` in the page header.
  An additional attribure `sidebar_sort_order` can be set to fix the order of a page. 
  A page without a given order will be shown above all other pages.

  1   About us
  2   News
  3   Blog
  4   Projects
  5   Publications (inactive)
  6   Events
  7   Steering Committee
  8   Code of Conduct
  9   Constitution
  10  Support and Acknowledgements
     -->
  {% endcomment %}
  {% include merged-links-and-categories.html %}

  {% if site.version %}
  <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}
  
  <p class='copyright'> &copy; {{ site.time | date: '%Y' }}.
  <a href="{{ "/LICENSE.md" | relative_url }}">MIT License.</a>
  </p>
</div>
