---
# Use a comment to ensure Jekyll reads the file to be transformed into CSS later
# only main files contain this front matter, not partials.
---

@import url("https://fonts.googleapis.com/css?family=Varela+Round:300,400,600");

$sidebar-bg-color: #3A5FCD;
$link-color: #3A5FCD;
//$sidebar-sticky: false;
$root-font-family: -apple-system, "Varela Round", Arial, sans-serif !default;

@import "hydeout";

.row {
  display: flex;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Custom HAAM Styling - all modified after sedaDNA society
.button-join {
  background: #3A5FCD;
  border: 1px solid #3A5FCD;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  line-height: 16px;
  font-family: "Varela Round";
  font-size: 14px;
  font-weight: 800;
  min-height: 40px;
  outline: 0;
  padding: 8px 16px;
  margin: 2px 2px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-join:hover,
.button-join:active {
  background-color: initial;
  background-position: 0 0;
  color: #232741;
  border: 1px solid #3A5FCD;
}

// From sedaDNA.github.io

.avatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.avatar img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  object-position: center top; // If the picture is larger/smaller than the avatar space, cop keeping the middle-top part.
  display: block;
  margin: auto;
}

.member p {
  text-align: center;
  font-size: 0.7rem;
  margin-bottom: 0;
  display: block;
  color: #555555;
  font-style: italic;
}

.member p:first-of-type {
  font-size: 0.85rem;
  color: #000;
  font-weight: bold;
  font-style: normal;
}

// Applies to p tags of class "role" WITHIN a div of class "member"
.member > p.role {
  font-size: 0.75rem;
  text-transform: uppercase;
  // font-weight: bold; // Our font does not actually have a bold face
  font-style: normal;
}

table th {
  // Adjust styling of header rows in tables.
  background-color: #3A5FCF;
  color: #ffffff;
}

.member {
  // Set the minimum and maximum width of each member element so they all align nicely.
  // Also add a small margin (relative to the "root element size") above AND below each member div element.
  min-width: 33%;  // 33% because we have 3 members per line
  max-width: 33%;  // 33% because we have 3 members per line
  margin-top: 1rem;

}

// The following CSS styling allows the creation of an `image-33-text-66-container`, which gives an image 33% width and the given text 66%

.image-33-text-66-container {
  display: flex;
  align-items: center; /* Align top edges */
  column-gap: 1rem; /* Space between image and text */
  row-gap: 0rem;    /* Space between image and text in mobile mode horizontal*/
  border-top: 1px solid #ccc; /* adds a light grey line above instances*/
  padding-top: 1rem;            /* optional spacing before the line between instances */
  margin-top: 1rem;             /* optional spacing after the line between instances */
  margin-bottom: 1rem;
}

/* Remove border from the first one */
.image-text-container:first-child {
    border-top: none;
    padding-top: 0; /* Optional: remove extra space */
    margin-top: 0;  /* Optional: remove extra space */
}

.image-33-text-66-container img {
  display: block;
  max-width: 300px;
  width: 33%;       /* one-third of container */
  height: auto;     /* keep aspect ratio */
  object-fit: cover;
  margin: 0rem;
}

.image-33-text-66-container .text-content {
  width: 66%;       /* two-thirds of container */
  display: flex;               /* make the text content itself flex */
  flex-direction: column;      /* stack text lines vertically */
  justify-content: center;     /* vertically center all text inside */
  text-align: center;
  white-space: pre-wrap;
  mergin: 0%;
}

// This makes the container mobile friendly when a screen is longer than wide.
@media (max-width: 768px) {
  .image-33-text-66-container {
    flex-direction: column;
  }

  .image-33-text-66-container img,
  .image-33-text-66-container .text-content {
    width: 100%;
  }
}